<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}  All rights reserved.</span>
    <span class="footer__copyright"><a href="https://github.com/ruhuablog">Vno</a> theme by <a href="http://ccguo.github.io">@ccguo</a></span>
</footer>
